.exchangecard {
  border: 1px solid black;
  width: 18rem;
  border-radius: 10px;
  float: left;
  margin: 10px;
  flex-wrap: wrap;
  height: 20rem;
  width: 15rem;
  background-color: rgba(128, 128, 128, 0.037);
}
.top-card :hover{
    /* background-color: rgba(128, 128, 128, 0.155); */
    transform: scale(1.1);
    transition-duration: 150ms;
}
.exchange-img {
  width: 10rem;
  border-radius: 10px;
  margin-top: 2rem;
}
.exchange-img-top{
    align-items: center;
    display: flex;
    justify-content: center;
}
.exchange-rank{
    margin-top: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.exchange-name{
    font-size: larger;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
    justify-content: center;
}